<header>
    <img src="../../../assets/blog.png" alt="">
    <h1>modern technology</h1>
    <p>how does the modern technology helps us in computer science</p>
</header>

<div class="container">
    <div class="container__border"></div>
        
    <div class="container__text">Digitalization is inexorable, and it is occurring at an unprecedented rate. IoT, robots, artificial intelligence, blockchain, and big data are examples of new technologies that have the potential to transform the way we live, work, and communicate. Without a doubt, technology will be a critical component of the majority of people's jobs in the future, with everyone, at all levels, requiring far more advanced technological capability than they do today. Data analytics, artificial intelligence and machine learning, human-centric interactions, and information security specialists will be in high demand.</div>

    <h2>modern technology helps us in many ways</h2>

    <h4>1. change they way we work</h4>
    <div class="container__text">The idea that technology would destroy the employment market is not new, but with the advent of new technologies, automation may occur more faster than previously. Automation is altering workplaces and will bring profound changes to practically every industry in the coming years. Schmidt does not believe that robots will replace humans in the workplace, but rather envisions collaboration between humans and robots. Highly repetitive and tedious work will be automated, freeing up human resources for more creative and fascinating tasks. He views robots as a tool for increasing performance and production while eliminating the mind-numbing, monotonous duties that many people face every day.</div>

    <h4>2. Help us solve global challenges</h4>
    <div class="container__text">According to Google's CEO, it is only our own creativity and innovation that limits the potential applications of computer technology. Climate change is one area where he believes technology can help, such as by using computers to increase energy efficiency. He also sees technology playing a significant role in healthcare by directing resources toward more accurate healthcare solutions and the use of robots in medical research.</div>
    
    <h4>3. Smarter education</h4>
    <div class="container__text">Schmidt sees a new way of employing computers to make education smarter, despite the fact that computer science is already widely employed in education. Recognizing that everyone learns differently, he advises employing computers to track the many methods in which kids learn. This will enable teachers to identify the most effective teaching models and supplement their instruction to improve educational effectiveness.</div>

    <h4>4. more entrepreneurs</h4>
    <div class="container__text">Schmidt is convinced that we need to produce more entrepreneurs everywhere, and calls upon universities and governments all over the world to encourage entrepreneurship and new ideas. He firmly believes that entrepreneurship and innovation will be the great business narrative for the next decade, pointing out that entrepreneurs not only boost our economy but can contribute to solving some of humanity’s largest issues.</div>

    <h4>5. Digitalisation of everything</h4>
    <div class="container__text">Schmidt is persuaded that we need more entrepreneurs everywhere, and he encourages colleges and governments throughout the world to foster entrepreneurship and innovative ideas. He is convinced that entrepreneurship and innovation will be the major business narratives of the next decade, pointing out that entrepreneurs not only benefit our economy but can also help to solve some of humanity's most pressing problems.</div>

    <h4>6. More benefits for more people</h4>
    <div class="container__text">Schmidt is a firm believer in the power of technological innovation to benefit more people by providing them with better products, services, and information. He believes that computer technology will continue to raise living standards and generate possibilities for everybody. At the same time, he wonders if our addiction to technology is making us happier, citing the fact that 97% of people sleep with their smartphones plugged in next to their bed, and they touch their smartphones 1500 times (!) per week on average.</div>

    <h4>7. machines teaching themselves</h4>
    <div class="container__text">The last five years have been the years of mobile, but according to Schmidt, the next generation is machine learning, which is the use of machine intelligence to make mobile smarter. You educate a computer to learn something instead of programming it, and it accomplishes what you want. Making devices smarter is critical, as their role in society grows in importance. He demonstrated this by stating that smartphones are becoming an increasingly important tool in all professions, including nurses in the NHS.</div>

    <div class="container__border"></div>

    <h4>reference link: </h4>

    <ul>
        <li>Technology - Changing the Status Quo</li>
        <li>7 Ways Computers will Change our Lives</li>
    </ul>
</div>